<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Feo.css - {{ title }}</title>
    <meta name="robots" content="index,follow" />
    <meta
      name="description"
      content="Feo.css is a classless css and layout library"
    />
    <meta name="keywords" content="CSS, layout, patterns, cube css">
    <meta name="content" content="CSS, layout, patterns, cube css">
    <meta name="property" content="CSS, layout, patterns, cube css">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light only" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#F7F9FB"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#0E131B"
    />
    <meta name="view-transition" content="same-origin" />
    <link rel="stylesheet" href="/feo.min.css" />
    <link rel="stylesheet" href="/demo.css" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
  </head>

  <body>
    <main class="sidebar --left --width-00 --gap-0 | flex-grow">
      <!-- SIDEBAR -->
      <nav class="flex-col items-center --gap-1">
        <div class="flex-col --gap-none items-center">
          {% include "svg/logo.svg" %}
          <span class="size-1 bold">Feo.css</span>
          <span class="size-00">v{{ pkg.version }}</span>
        </div>
        {% include "partials/navigation.njk" %}
      </nav>
      <!-- This DIV is required to let layout patterns play nice with eachother -->
      <div>
        <article class="flex-col --gap-0 items-start">
          {% include "partials/breadcrumb.njk" %}
          <h1>{{title}}</h1>
          {{ content | safe }}
          {% include "partials/footer.njk" %}
        </article> 
      </div>
    </main>
  </body>
</html>
