<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Feo.css - {{ title }}</title>
    <meta name="robots" content="index,follow" />
    <meta
      name="description"
      content="Feo.css is a classless css and layout library"
    />
    <meta name="keywords" content="CSS, layout, patterns, cube css">
    <meta name="content" content="CSS, layout, patterns, cube css">
    <meta name="property" content="CSS, layout, patterns, cube css">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light only" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#F7F9FB"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#0E131B"
    />
    <meta name="view-transition" content="same-origin" />
    <link rel="stylesheet" href="/feo-core.min.css" />
    <link rel="stylesheet" href="/feo-components.min.css" />
    <link rel="stylesheet" href="/demo.css" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
  </head>

  <body class="sidebar --left --threshold-00 --gap-2">
    <!-- SIDEBAR -->
      <nav class="flex --column --gap-1 | self-start">
        <div class="flex --column --center --gap-none">
          {% include "svg/logo.svg" %}
          <span class="size-00 italic">v{{ pkg.version }}</span>
        </div>
        {% include "partials/navigation.njk" %}
      </nav>
    <!-- CONTENT -->

    <main class="repel --column | scroll-container">
      <article class="flow">
        {% include "partials/breadcrumb.njk" %}
        <h1>{{title}}</h1>
        {{ content | safe }}
      </article>
      {% include "partials/footer.njk" %}
    </main>

  </body>
</html>
