@layer reset {
  *, :before, :after {
    box-sizing: border-box;
  }

  :where(:not(:-webkit-any(iframe, canvas, img, svg, video)):not(svg *)) {
    border: 0;
    margin: 0;
  }

  :where(:not(:is(iframe, canvas, img, svg, video)):not(svg *)) {
    border: 0;
    margin: 0;
  }

  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
    height: -webkit-fill-available;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    text-rendering: optimizespeed;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    line-height: 1.78;
  }

  ul[class], ol[class] {
    padding-left: 0;
    list-style: none;
  }

  :where(h1, h2, h3, button, input, label) {
    line-height: 1.1;
  }

  :where(h1, h2, h3) {
    text-wrap: balance;
  }

  :where(a, a:visited):not([class]) {
    touch-action: manipulation;
    -webkit-text-decoration-skip-ink: auto;
    text-decoration-skip-ink: auto;
    text-underline-offset: .1em;
    text-decoration-thickness: max(.08em, 2px);
  }

  :where(img, picture, svg) {
    max-width: 100%;
    display: block;
  }

  :where(input, button, textarea, select) {
    font: inherit;
  }

  :target {
    scroll-margin-block: 5ex;
  }

  :active:not(:focus-visible) {
    outline: none;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  :focus-visible {
    outline: 1px solid;
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto !important;
    }

    *, :before, :after {
      scroll-behavior: auto !important;
      transition-duration: .01ms !important;
      -webkit-animation-duration: .01ms !important;
      animation-duration: .01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  }
}

@layer tokens {
  :root {
    --hue: 215;
    --token-color-dark-0: hsl(var(--hue), 30%, 8%);
    --token-color-dark-1: hsl(var(--hue), 30%, 24%);
    --token-color-dark-2: hsl(var(--hue), 30%, 40%);
    --token-color-light-0: hsl(var(--hue), 36%, 98%);
    --token-color-light-1: hsl(var(--hue), 36%, 92%);
    --token-color-light-2: hsl(var(--hue), 36%, 78%);
    --token-bp-0: 20rem;
    --token-bp-000: calc(var(--token-bp-00) / 1.33);
    --token-bp-00: calc(var(--token-bp-0) / 1.33);
    --token-bp-1: calc(var(--token-bp-0) * 1.33);
    --token-bp-2: calc(var(--token-bp-1) * 1.33);
    --token-bp-3: calc(var(--token-bp-2) * 1.33);
    --token-bp-4: calc(var(--token-bp-3) * 1.33);
    --token-bp-5: calc(var(--token-bp-4) * 1.33);
    --ratio: calc(5 * (min(100vw, 1240px)  - 320px) / 920);
    --token-size-none: 0;
    --token-size-0000: calc(.5rem + .5 * var(--ratio));
    --token-size-000: calc(.65rem + .65 * var(--ratio));
    --token-size-00: calc(.8125rem + .8125 * var(--ratio));
    --token-size-0: calc(1rem + var(--ratio));
    --token-size-1: calc(1.33rem + 1.33 * var(--ratio));
    --token-size-2: calc(1.78rem + 1.78 * var(--ratio));
    --token-size-3: calc(2.37rem + 2.37 * var(--ratio));
    --token-size-4: calc(3.16rem + 3.16 * var(--ratio));
    --token-size-5: calc(4.21rem + 4.21 * var(--ratio));
    --monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    --serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    --sans-serif: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --token-radius-0: .25rem;
    --token-radius-1: .75rem;
    --token-elevation-0: 0 1px 1px rgba(0, 0, 0, .075), 0 2px 2px rgba(0, 0, 0, .075), 0 4px 4px rgba(0, 0, 0, .075);
    --token-elevation-1: 0 4px 4px rgba(0, 0, 0, .075), 0 8px 8px rgba(0, 0, 0, .075), 0 16px 16px rgba(0, 0, 0, .075);
    color-scheme: light;
    --color-foreground-0: var(--token-color-dark-0);
    --color-foreground-1: var(--token-color-dark-2);
    --color-surface-0: var(--token-color-light-0);
    --color-surface-1: var(--token-color-light-1);
    --color-surface-2: var(--token-color-light-2);
    --color-link: green;
    --arrow-icon: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Path' fill='%232B3A50' d='M7 9L13.0622 0H0.937822L7 9Z'/%3E%3C/svg%3E");
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --color-foreground-0: var(--token-color-light-0);
      --color-foreground-1: var(--token-color-light-2);
      --color-surface-0: var(--token-color-dark-0);
      --color-surface-1: var(--token-color-dark-1);
      --color-surface-2: var(--token-color-dark-2);
      --color-link: lime;
      --arrow-icon: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Path' fill='%23E3E9F2' d='M7 9L13.0622 0H0.937822L7 9Z'/%3E%3C/svg%3E");
    }
  }
}

@layer global {
  html {
    overflow-x: hidden;
  }

  body {
    min-width: var(--token-bp-0);
    font-size: var(--token-size-0);
    font-family: var(--sans-serif);
    background-color: var(--color-surface-0);
    color: var(--color-foreground-0);
    flex-direction: column;
    max-width: 100vw;
    display: flex;
    position: relative;
  }

  a, a:visited {
    color: var(--color-foreground-0);
    -webkit-text-decoration-color: var(--color-link);
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 2px;
    transition: all .2s;
  }

  a:hover, a:visited:hover, a:focus {
    color: var(--color-link);
    text-decoration-thickness: 2px;
  }

  :where(h1, h2, h3) {
    font-family: var(--sans-serif);
    width: 100%;
    font-weight: 600;
  }

  h1 {
    font-size: var(--token-size-3);
  }

  h2 {
    font-size: var(--token-size-2);
  }

  h3 {
    font-size: var(--token-size-1);
  }

  ::selection {
    color: var(--color-surface-0) !important;
    background: var(--color-foreground-0) !important;
  }

  code {
    font-family: var(--monospace);
    -webkit-hyphens: none;
    hyphens: none;
    font-size: .85em;
  }

  :not(pre) > code {
    border: 1px solid var(--color-foreground-1);
    white-space: nowrap;
    background-color: var(--color-surface-1);
    border-radius: 4px;
    padding: 2px;
  }

  pre {
    border: 2px solid var(--color-foreground-1);
    border-radius: var(--token-size-00);
    background-color: var(--color-surface-1);
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    padding: 0;
    position: relative;
  }

  pre > code {
    padding: var(--token-size-00) var(--token-size-0);
    font-size: var(--token-size-00);
    tab-size: 2;
    -webkit-text-size-adjust: none;
    display: block;
    overflow-x: auto;
  }
}

@layer layout {
  .center {
    --layout-width: 100%;
    width: min(100%, var(--layout-width));
    margin-left: auto;
    margin-right: auto;
  }

  .cluster {
    --layout-gap: 0;
    justify-content: flex-start;
    align-items: center;
    gap: var(--layout-gap);
    flex-wrap: wrap;
    display: flex;
  }

  .flex-col {
    --layout-gap: 0;
    gap: var(--layout-gap);
    flex-direction: column;
    display: flex;
  }

  .flex-row {
    --layout-gap: 0;
    gap: var(--layout-gap);
    flex-direction: row;
    display: flex;
  }

  .flex-col-reverse {
    flex-direction: column-reverse;
    display: flex;
  }

  .flex-row-reverse {
    flex-direction: row-reverse;
    display: flex;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .flex-grow-0 {
    flex-grow: 0;
  }

  .flex-shrink {
    flex-shrink: 1;
  }

  .flex-shrink-0 {
    flex-shrink: 0;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-nowrap {
    flex-wrap: nowrap;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-around {
    justify-content: space-around;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }

  .content-center {
    align-content: center;
  }

  .content-start {
    align-content: flex-start;
  }

  .content-end {
    align-content: flex-end;
  }

  .content-between {
    align-content: space-between;
  }

  .content-around {
    align-content: space-around;
  }

  .content-evenly {
    align-content: space-evenly;
  }

  .items-start {
    align-items: flex-start;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-center {
    align-items: center;
  }

  .items-baseline {
    align-items: baseline;
  }

  .items-stretch {
    align-items: stretch;
  }

  .self-start {
    align-self: flex-start;
  }

  .self-end {
    align-self: flex-end;
  }

  .self-center {
    align-self: center;
  }

  .self-stretch {
    align-self: stretch;
  }

  .place-center {
    align-items: center;
    justify-items: center;
  }

  .place-start {
    align-items: flex-start;
    justify-items: flex-start;
  }

  .place-end {
    align-items: flex-end;
    justify-items: flex-end;
  }

  .grid {
    --layout-amount: 2;
    --layout-gap: 0;
    grid-template-columns: repeat(var(--layout-amount), 1fr);
    gap: var(--layout-gap);
    display: grid;
  }

  .sidebar {
    --layout-gap: 0;
    --layout-width: 0;
    --min-inline-size: 67%;
    gap: var(--layout-gap);
    flex-wrap: wrap;
    display: flex;
  }

  .sidebar > * {
    flex-basis: var(--layout-width);
    min-width: min(100%, var(--layout-width));
    flex-grow: 1;
  }

  .sidebar.--left > :last-child, .sidebar.--right > :first-child {
    min-width: var(--min-inline-size);
    flex-grow: 999;
    flex-basis: 0;
  }

  .switcher {
    --layout-gap: 0;
    --layout-width: 0;
    --layout-amount: 2;
    gap: var(--layout-gap);
    flex-wrap: wrap;
    display: flex;
  }

  .switcher > * {
    flex-basis: calc((var(--layout-width) * var(--layout-amount)  - 100%) * 999);
    flex-grow: 1;
  }

  .switcher:has( > :nth-child(3)) {
    --layout-amount: 3;
  }

  .switcher:has( > :nth-child(4)) {
    --layout-amount: 4;
  }

  .switcher:has( > :nth-child(5)) {
    --layout-amount: 5;
  }

  .switcher:has( > :nth-child(6)) {
    --layout-amount: 6;
  }

  .tiles {
    --layout-width: ;
    --layout-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--layout-width), 100%), 1fr));
    gap: var(--layout-gap);
    display: grid;
  }

  .--amount-1 {
    --layout-amount: 1;
  }

  .--amount-2 {
    --layout-amount: 2;
  }

  .--amount-3 {
    --layout-amount: 3;
  }

  .--amount-4 {
    --layout-amount: 4;
  }

  .--amount-5 {
    --layout-amount: 5;
  }

  .--amount-6 {
    --layout-amount: 6;
  }

  .--amount-7 {
    --layout-amount: 7;
  }

  .--amount-8 {
    --layout-amount: 8;
  }

  .--amount-9 {
    --layout-amount: 9;
  }

  .--amount-10 {
    --layout-amount: 10;
  }

  .--amount-11 {
    --layout-amount: 11;
  }

  .--amount-12 {
    --layout-amount: 12;
  }

  .--gap-none {
    --layout-gap: none;
  }

  .--gap-auto {
    --layout-gap: auto;
  }

  .--gap-0000 {
    --layout-gap: var(--token-size-0000);
  }

  .--gap-000 {
    --layout-gap: var(--token-size-000);
  }

  .--gap-00 {
    --layout-gap: var(--token-size-00);
  }

  .--gap-0 {
    --layout-gap: var(--token-size-0);
  }

  .--gap-1 {
    --layout-gap: var(--token-size-1);
  }

  .--gap-2 {
    --layout-gap: var(--token-size-2);
  }

  .--gap-3 {
    --layout-gap: var(--token-size-3);
  }

  .--gap-4 {
    --layout-gap: var(--token-size-4);
  }

  .--gap-5 {
    --layout-gap: var(--token-size-5);
  }

  .--width-000 {
    --layout-width: var(--token-bp-000);
  }

  .--width-00 {
    --layout-width: var(--token-bp-00);
  }

  .--width-0 {
    --layout-width: var(--token-bp-0);
  }

  .--width-1 {
    --layout-width: var(--token-bp-1);
  }

  .--width-2 {
    --layout-width: var(--token-bp-2);
  }

  .--width-3 {
    --layout-width: var(--token-bp-3);
  }

  .--width-4 {
    --layout-width: var(--token-bp-4);
  }

  .--width-5 {
    --layout-width: var(--token-bp-5);
  }
}

@layer utilities {
  .click-area {
    position: relative;
  }

  .click-area a {
    cursor: pointer;
  }

  .click-area a:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .sticky {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .m-0000 {
    margin: var(--token-size-0000);
  }

  .m-000 {
    margin: var(--token-size-000);
  }

  .m-00 {
    margin: var(--token-size-00);
  }

  .m-0 {
    margin: var(--token-size-0);
  }

  .m-1 {
    margin: var(--token-size-1);
  }

  .m-2 {
    margin: var(--token-size-2);
  }

  .m-3 {
    margin: var(--token-size-3);
  }

  .m-4 {
    margin: var(--token-size-4);
  }

  .m-5 {
    margin: var(--token-size-5);
  }

  .mb-0000 {
    margin-bottom: var(--token-size-0000);
  }

  .mb-000 {
    margin-bottom: var(--token-size-000);
  }

  .mb-00 {
    margin-bottom: var(--token-size-00);
  }

  .mb-0 {
    margin-bottom: var(--token-size-0);
  }

  .mb-1 {
    margin-bottom: var(--token-size-1);
  }

  .mb-2 {
    margin-bottom: var(--token-size-2);
  }

  .mb-3 {
    margin-bottom: var(--token-size-3);
  }

  .mb-4 {
    margin-bottom: var(--token-size-4);
  }

  .mb-5 {
    margin-bottom: var(--token-size-5);
  }

  .mt-0000 {
    margin-top: var(--token-size-0000);
  }

  .mt-000 {
    margin-top: var(--token-size-000);
  }

  .mt-00 {
    margin-top: var(--token-size-00);
  }

  .mt-0 {
    margin-top: var(--token-size-0);
  }

  .mt-1 {
    margin-top: var(--token-size-1);
  }

  .mt-2 {
    margin-top: var(--token-size-2);
  }

  .mt-3 {
    margin-top: var(--token-size-3);
  }

  .mt-4 {
    margin-top: var(--token-size-4);
  }

  .mt-5 {
    margin-top: var(--token-size-5);
  }

  .ml-0000 {
    margin-left: var(--token-size-0000);
  }

  .ml-000 {
    margin-left: var(--token-size-000);
  }

  .ml-00 {
    margin-left: var(--token-size-00);
  }

  .ml-0 {
    margin-left: var(--token-size-0);
  }

  .ml-1 {
    margin-left: var(--token-size-1);
  }

  .ml-2 {
    margin-left: var(--token-size-2);
  }

  .ml-3 {
    margin-left: var(--token-size-3);
  }

  .ml-4 {
    margin-left: var(--token-size-4);
  }

  .ml-5 {
    margin-left: var(--token-size-5);
  }

  .mr-0000 {
    margin-right: var(--token-size-0000);
  }

  .mr-000 {
    margin-right: var(--token-size-000);
  }

  .mr-00 {
    margin-right: var(--token-size-00);
  }

  .mr-0 {
    margin-right: var(--token-size-0);
  }

  .mr-1 {
    margin-right: var(--token-size-1);
  }

  .mr-2 {
    margin-right: var(--token-size-2);
  }

  .mr-3 {
    margin-right: var(--token-size-3);
  }

  .mr-4 {
    margin-right: var(--token-size-4);
  }

  .mr-5 {
    margin-right: var(--token-size-5);
  }

  .p-0000 {
    padding: var(--token-size-0000);
  }

  .p-000 {
    padding: var(--token-size-000);
  }

  .p-00 {
    padding: var(--token-size-00);
  }

  .p-0 {
    padding: var(--token-size-0);
  }

  .p-1 {
    padding: var(--token-size-1);
  }

  .p-2 {
    padding: var(--token-size-2);
  }

  .p-3 {
    padding: var(--token-size-3);
  }

  .p-4 {
    padding: var(--token-size-4);
  }

  .p-5 {
    padding: var(--token-size-5);
  }

  .pb-0000 {
    padding-bottom: var(--token-size-0000);
  }

  .pb-000 {
    padding-bottom: var(--token-size-000);
  }

  .pb-00 {
    padding-bottom: var(--token-size-00);
  }

  .pb-0 {
    padding-bottom: var(--token-size-0);
  }

  .pb-1 {
    padding-bottom: var(--token-size-1);
  }

  .pb-2 {
    padding-bottom: var(--token-size-2);
  }

  .pb-3 {
    padding-bottom: var(--token-size-3);
  }

  .pb-4 {
    padding-bottom: var(--token-size-4);
  }

  .pb-5 {
    padding-bottom: var(--token-size-5);
  }

  .pt-0000 {
    padding-top: var(--token-size-0000);
  }

  .pt-000 {
    padding-top: var(--token-size-000);
  }

  .pt-00 {
    padding-top: var(--token-size-00);
  }

  .pt-0 {
    padding-top: var(--token-size-0);
  }

  .pt-1 {
    padding-top: var(--token-size-1);
  }

  .pt-2 {
    padding-top: var(--token-size-2);
  }

  .pt-3 {
    padding-top: var(--token-size-3);
  }

  .pt-4 {
    padding-top: var(--token-size-4);
  }

  .pt-5 {
    padding-top: var(--token-size-5);
  }

  .pl-0000 {
    padding-left: var(--token-size-0000);
  }

  .pl-000 {
    padding-left: var(--token-size-000);
  }

  .pl-00 {
    padding-left: var(--token-size-00);
  }

  .pl-0 {
    padding-left: var(--token-size-0);
  }

  .pl-1 {
    padding-left: var(--token-size-1);
  }

  .pl-2 {
    padding-left: var(--token-size-2);
  }

  .pl-3 {
    padding-left: var(--token-size-3);
  }

  .pl-4 {
    padding-left: var(--token-size-4);
  }

  .pl-5 {
    padding-left: var(--token-size-5);
  }

  .pr-0000 {
    padding-right: var(--token-size-0000);
  }

  .pr-000 {
    padding-right: var(--token-size-000);
  }

  .pr-00 {
    padding-right: var(--token-size-00);
  }

  .pr-0 {
    padding-right: var(--token-size-0);
  }

  .pr-1 {
    padding-right: var(--token-size-1);
  }

  .pr-2 {
    padding-right: var(--token-size-2);
  }

  .pr-3 {
    padding-right: var(--token-size-3);
  }

  .pr-4 {
    padding-right: var(--token-size-4);
  }

  .pr-5 {
    padding-right: var(--token-size-5);
  }

  .size-0000 {
    font-size: var(--token-size-0000);
  }

  .size-000 {
    font-size: var(--token-size-000);
  }

  .size-00 {
    font-size: var(--token-size-00);
  }

  .size-0 {
    font-size: var(--token-size-0);
  }

  .size-1 {
    font-size: var(--token-size-1);
  }

  .size-2 {
    font-size: var(--token-size-2);
  }

  .size-3 {
    font-size: var(--token-size-3);
  }

  .size-4 {
    font-size: var(--token-size-4);
  }

  .size-5 {
    font-size: var(--token-size-5);
  }

  .monospace {
    font-family: var(--monospace);
  }

  .serif {
    font-family: var(--serif);
  }

  .sans-serif {
    font-family: var(--sans-serif);
  }

  .bold {
    font-weight: 600;
  }

  .regular {
    font-weight: 400;
  }

  .italic {
    font-style: italic;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .no-decoration {
    text-decoration: none;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .lh-1 {
    line-height: 1;
  }

  .maxw-000 {
    max-width: var(--token-bp-000);
  }

  .maxw-00 {
    max-width: var(--token-bp-00);
  }

  .maxw-0 {
    max-width: var(--token-bp-0);
  }

  .maxw-1 {
    max-width: var(--token-bp-1);
  }

  .maxw-2 {
    max-width: var(--token-bp-2);
  }

  .maxw-3 {
    max-width: var(--token-bp-3);
  }

  .maxw-4 {
    max-width: var(--token-bp-4);
  }

  .maxw-5 {
    max-width: var(--token-bp-5);
  }
}

@layer components {
  label {
    color: var(--color-foreground-1);
    font-size: var(--token-size-0);
    flex-direction: column;
    gap: 4px;
    display: flex;
  }

  select, textarea {
    padding: var(--token-size-0000) var(--token-size-000);
    background-color: var(--token-surface-0);
    font-size: var(--token-size-00);
    border: 1px solid var(--color-foreground-1);
    border-radius: var(--token-size-0000);
    color: var(--color-foreground-0);
    width: 100%;
    transition: all .1s;
  }

  input:not([type="checkbox"]) {
    padding: var(--token-size-0000) var(--token-size-000);
    background-color: var(--token-surface-0);
    font-size: var(--token-size-00);
    border: 1px solid var(--color-foreground-1);
    border-radius: var(--token-size-0000);
    color: var(--color-foreground-0);
    width: 100%;
    transition: all .1s;
  }

  input:not(:disabled):not([type="checkbox"]):where(:hover, :focus) {
    border: 1px solid var(--color-foreground-0);
    outline: 1px solid var(--color-foreground-0);
  }

  select:not(:disabled):where(:hover, :focus) {
    border: 1px solid var(--color-foreground-0);
    outline: 1px solid var(--color-foreground-0);
  }

  textarea:not(:disabled):where(:hover, :focus) {
    border: 1px solid var(--color-foreground-0);
    outline: 1px solid var(--color-foreground-0);
  }

  input:disabled, textarea:disabled, select:disabled {
    cursor: not-allowed;
    background-color: var(--color-surface-1);
  }

  textarea {
    min-height: 8em;
  }

  select, input[list] {
    -webkit-appearance: none;
    appearance: none;
    background-image: var(--arrow-icon);
    background-repeat: no-repeat, repeat;
    background-position: right var(--token-size-000) top 50%, 0 0;
    background-size: .8em, 100%;
    display: block;
  }

  label:has(input[type="checkbox"]) {
    align-items: center;
    gap: var(--token-size-00);
    flex-direction: row;
  }

  input[type="checkbox"] {
    --toggle-dot-color: white;
    --toggle-checked-color: green;
    --toggle-size: var(--token-size-0);
    --toggle-space: 3px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-surface-2);
    height: calc(var(--toggle-size)  + 2 * var(--toggle-space));
    width: calc(2 * var(--toggle-size)  + 2 * var(--toggle-space));
    vertical-align: middle;
    border-radius: var(--toggle-size);
    transition: background .25s linear;
    display: inline-block;
    position: relative;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  }

  input[type="checkbox"]:before {
    content: "";
    width: var(--toggle-size);
    height: var(--toggle-size);
    background: var(--toggle-dot-color);
    border-radius: calc(var(--toggle-size) * .5);
    top: var(--toggle-space);
    left: var(--toggle-space);
    transition: -webkit-transform .25s linear, transform .25s linear;
    display: block;
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  }

  input[type="checkbox"]:checked {
    background: var(--toggle-checked-color);
  }

  input[type="checkbox"]:checked:before {
    -webkit-transform: translateX(var(--toggle-size));
    transform: translateX(var(--toggle-size));
  }

  input[type="checkbox"]:focus {
    outline: none;
  }

  input[type="checkbox"]:focus-visible {
    outline-offset: 2px;
    outline: 2px solid #1e90ff;
  }

  div:has( > table:only-child) {
    overflow-x: auto;
  }

  table {
    --table-radius: 6px;
    --table-color: var(--color-surface-1);
    border: 1px solid var(--table-color);
    background: var(--table-color);
    border-radius: calc(var(--table-radius) * 1.3);
    width: 100%;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: var(--table-radius);
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: var(--table-radius);
  }

  table tr:first-child th:first-child {
    border-top-left-radius: var(--table-radius);
  }

  table tr:first-child th:last-child {
    border-top-right-radius: var(--table-radius);
  }

  th {
    background-color: var(--table-color);
  }

  td {
    background-color: var(--color-surface-0);
  }

  td, th {
    text-align: left;
    padding: var(--token-size-0000);
  }

  table tr:hover td {
    background-color: var(--table-color);
  }
}
