/**
 * Now do everything else
 */
body {
  min-width: var(--token-bp-0);
  max-width: 100vw;
  font-size: var(--token-size-0);
  font-family: var(--sans-serif);
  position: relative;
}

/**
 * HEADERS
 */
:where(h1, h2, h3) {
  font-weight: 600;
}

h1 {
  font-size: var(--token-size-3);
}
h2 {
  font-size: var(--token-size-2);
}
h3 {
  font-size: var(--token-size-1);
}

/**
 * CODE
 */
code {
  font-family: var(--monospace);
  font-size: 0.85em;
  hyphens: none;
}

:not(pre) > code {
  border: 1px solid currentColor;
  border-radius: 0.25em;
  padding: 0.125em;
  white-space: nowrap;
  word-break: break-all;
}

pre {
  border-radius: 0.5em;
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 100%;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
}

pre > code {
  padding: var(--token-size-000) var(--token-size-00);
  display: block;
  white-space: pre;
  overflow-x: auto;
  tab-size: 2;
  /* fix for increased font-size safari iOS */
  -webkit-text-size-adjust: none;
}
