/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove all default margin/border styles of the "User-Agent-Stylesheet" */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  margin: 0;
  border: 0;
}

html {
  height: 100%;
  /* avoid scaling on mobile */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* iOS webkit fix */
  height: -webkit-fill-available;
  /* allow of transitions on height */
  interpolate-size: allow-keywords;
  /* as WCAG dictates scroll in only one direction */
  overflow-x: hidden;
  /* Enables keyword animations, like view-transitions  */
  @supports (interpolate-size: allow-keywords) {
    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
    }
  }
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  /* iOS webkit fix */
  min-height: -webkit-fill-available;
  line-height: 1.5;
  /* Improve text-rendering */
  -webkit-font-smoothing: antialiased;
}

/* Remove list styles on ul, ol elements, if they have any other class */
:where(ul[role], ol[role]) {
  list-style: none;
  padding-left: 0;
}

:where(ul, ol):not([role]) li {
  padding-left: 0.35em;
}

/* Set shorter line heights on headings and interactive elements */
:where(h1, h2, h3, h4, button, input, label) {
  line-height: 1.1;
}

/* Better line-wrapping */
:where(h1, h2, h3, h4) {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Baseline for default links */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-underline-offset: 0.125em;
}
/* slight transparent border in the current color */
a:not([class]):not(:is(:hover, :focus)) {
  text-decoration-color: hsl(from currentColor h s l / 50%);
}

/* Make images easier to work with */
:where(img, picture, svg) {
  display: block;
  max-width: 100%;
}

/* default input style */
:where(input, button, textarea, select) {
  font-family: inherit;
  font-size: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Removes outlines for mouse users */
:active:not(:focus-visible) {
  outline: none;
}

/* Removes outlines for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Makes focus through keyboard better */
:focus-visible {
  outline: 1px solid currentColor;
}
/* Hide elements */
[hidden] {
  display: none;
}

/* Set the correct cursor */
:disabled,
[aria-disabled="true"],
[disabled="true"] {
  cursor: not-allowed;
}
[disabled="false"] {
  cursor: pointer;
}

[aria-controls] {
  cursor: pointer;
}

/* disallows scroll on background */
body:has(dialog[open]) {
  overflow: hidden;
}

/** Basic smooth view transitions, when supported */
@view-transition {
  navigation: auto;
}

/* Remove all animations and transitions for
  people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto !important;
  }

  @view-transition {
    navigation: none;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
