:root {
  /**
   * COLORS
   */
  /** NEUTRALS */
  --token-neutral-0: hsl(215, 30%, 10%);
  --token-neutral-1: hsl(215, 30%, 24%);
  --token-neutral-2: hsl(215, 30%, 40%);
  --token-neutral-3: hsl(215, 36%, 78%);
  --token-neutral-4: hsl(215, 36%, 92%);
  --token-neutral-5: hsl(215, 36%, 98%);

  /**
   * BREAK POINTS
   */
  --token-bp-0: 20rem;
  --token-bp-000: calc(var(--token-bp-00) / 1.33);
  --token-bp-00: calc(var(--token-bp-0) / 1.33);
  --token-bp-1: calc(var(--token-bp-0) * 1.33);
  --token-bp-2: calc(var(--token-bp-1) * 1.33);
  --token-bp-3: calc(var(--token-bp-2) * 1.33);
  --token-bp-4: calc(var(--token-bp-3) * 1.33);
  --token-bp-5: calc(var(--token-bp-4) * 1.33);

  /**
   * SPACING & SIZING
   */

  /* Value between 0px and 5px, equal to 20% increase of 1rem */
  --feo-scale: calc(5 * (min(100vw, 1240px) - 320px) / 920);

  /* Scale of 1.333 */
  --token-size-000: calc(0.65rem + 0.65 * var(--feo-scale));
  --token-size-00: calc(0.8125rem + 0.8125 * var(--feo-scale));
  --token-size-0: calc(1rem + var(--feo-scale));
  --token-size-1: calc(1.33rem + 1.33 * var(--feo-scale));
  --token-size-2: calc(1.78rem + 1.78 * var(--feo-scale));
  --token-size-3: calc(2.37rem + 2.37 * var(--feo-scale));
  --token-size-4: calc(3.16rem + 3.16 * var(--feo-scale));
  --token-size-5: calc(4.21rem + 4.21 * var(--feo-scale));

  /**
   * FONT FAMILY
   */
  --monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --sans-serif: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /**
   * THEME
   */
  color-scheme: light;
  --text-0: var(--token-neutral-0);
  --text-1: var(--token-neutral-1);
  --text-2: var(--token-neutral-2);
  --surface-0: var(--token-neutral-5);
  --surface-1: var(--token-neutral-4);
  --surface-2: var(--token-neutral-3);
}
