// Utility classes for background colors and different pseudo-classes
@each $name, $color in $_colors {
  .border-#{$name},
  .hover\:border-#{$name}:hover,
  .focus\:border-#{$name}:focus {
    border: 1px solid var(--color-#{$name});
  }

  .border-t-#{$name},
  .hover\:border-t-#{$name}:hover,
  .focus\:border-t-#{$name}:focus {
    border-top: 1px solid var(--color-#{$name});
  }

  .border-r-#{$name},
  .hover\:border-r-#{$name}:hover,
  .focus\:border-r-#{$name}:focus {
    border-right: 1px solid var(--color-#{$name});
  }

  .border-b-#{$name},
  .hover\:border-b-#{$name}:hover,
  .focus\:border-b-#{$name}:focus {
    border-bottom: 1px solid var(--color-#{$name});
  }

  .border-l-#{$name},
  .hover\:border-l-#{$name}:hover,
  .focus\:border-l-#{$name}:focus {
    border-left: 1px solid var(--color-#{$name});
  }
}

@for $i from 1 through 5 {
  .border-w-#{$i} {
    border-width: #{$i}px;
  }
}
