// Utility classes for background colors and different pseudo-classes
@each $name, $color in $feo-colors {
  .border-#{$name},
  .hover\:border-#{$name}:hover,
  .focus\:border-#{$name}:focus {
    border-color: var(--color-#{$name});
    border-style: solid;
    border-width: 1px;
  }
}

// themes for [data-theme] attribute
@if length($feo-themes) > 0 {
  $theme: nth(nth($feo-themes, 1), 2);
  @each $name, $color in $theme {
    .border-#{$name},
    .hover\:border-#{$name}:hover,
    .focus\:border-#{$name}:focus {
      border-color: var(--color-#{$name});
      border-style: solid;
      border-width: 1px;
    }
  }
}

$border-sizes: (
  '1': 1,
  '2': 2,
  '3': 3,
  '4': 4,
  '5': 5,
);

@each $name, $size in $border-sizes {
  .border-w-#{$name} {
    border-width: #{$size}px;
  }
}
