// Utility classes to visually hide elements
.visually-hidden {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none !important;
}

// Utilities to remove something completely from the screen based on breakpoints
@each $name, $pb in $feo-breakpoints {
  @media (max-width: $pb) {
    .show-#{$name} {
      display: none !important;
    }
  }

  @media (min-width: $pb) {
    .hidden-#{$name} {
      display: none !important;
    }
  }
}