// Create various radius classes
@each $name, $rad in $radius {
  .radius-#{name} {
    border-radius: #{$rad}rem;
  }

  .radius-b-#{name} {
    border-bottom-right-radius: #{$rad}rem;
    border-bottom-left-radius: #{$rad}rem;
  }

  .radius-t-#{name} {
    border-top-left-radius: #{$rad}rem;
    border-top-right-radius: #{$rad}rem;
  }

  .radius-l-#{name} {
    border-top-left-radius: #{$rad}rem;
    border-bottom-left-radius: #{$rad}rem;
  }

  .radius-r-#{name} {
    border-top-right-radius: #{$rad}rem;
    border-bottom-right-radius: #{$rad}rem;
  }
}
