// Generate utility classes around colors
@each $name, $color in $feo-colors {
  .text-#{$name},
  .hover\:text-#{$name}:hover,
  .focus\:text-#{$name}:focus,
  .active\:text-#{$name}:active {
    color: var(--color-#{$name});
  }
}

// themes for [data-theme] attribute
@if length($feo-themes) > 0 {
  $theme: nth(nth($feo-themes, 1), 2);
  @each $name, $color in $theme {
    .text-#{$name},
    .hover\:text-#{$name}:hover,
    .focus\:text-#{$name}:focus,
    .active\:text-#{$name}:active {
      color: var(--color-#{$name});
    }
  }
}

// Generate utility classes around font-size
@each $name, $size in $feo-sizes {
  .text-#{$name} {
    font-size: var(--size-#{$name});
  }
}

// Generate utility classes around font-families
@each $name, $size in $feo-font-families {
  .#{$name} {
    font-family: var(--#{$name});
  }
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-justify {
  text-align: justify;
}

.no-decoration,
a.no-decoration,
a.no-decoration > * {
  text-decoration: none;
}

.lh-0 {
  line-height: var(--lh-ob2);
}

.lh-00 {
  line-height: var(--lh-ob1);
}

.lh-000 {
  line-height: var(--lh-base);
}
