// Generate utility classes around colors
@each $name, $color in $feo-colors {
  .text-#{$name},
  .hover\:text-#{$name}:hover,
  .focus\:text-#{$name}:focus,
  .active\:text-#{$name}:active {
    color: var(--color-#{$name});
  }
}

// themes for [data-theme] attribute
@each $tName, $theme in $feo-themes {
  @each $name, $color in $theme {
    .text-theme-#{$name},
    .hover\:text-theme-#{$name}:hover,
    .focus\:text-theme-#{$name}:focus,
    .active\:text-theme-#{$name}:active {
      color: var(--theme-#{$name});
    }
  }
}

// Generate utility classes around font-size
@each $name, $size in $feo-font-sizes {
  .text-#{$name} {
    font-size: var(--text-#{$name});
  }
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
