// Generate utility classes around colors
@each $name, $color in $bace-colors {
  .text-#{$name},
  .hover\:text-#{$name}:hover,
  .focus\:text-#{$name}:focus,
  .active\:text-#{$name}:active {
    color: var(--color-#{$name});
  }
}

// Generate utility classes around font-size
@each $name, $size in $bace-sizes {
  .text-#{$name} {
    font-size: var(--size-#{$name});
  }
}

// Generate utility classes around font-families
@each $name, $size in $bace-font-families {
  .#{$name} {
    font-family: var(--#{$name});
  }
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-justify {
  text-align: justify;
}

.no-decoration,
a.no-decoration,
a.no-decoration > * {
  text-decoration: none;
}

// line-height classes
@each $name, $size in $bace-lh {
  .bg-#{$name} {
    line-height: var(--lh-#{$name});
  }
}
