// Generate utility classes around font-size
@each $name, $pb in $feo-breakpoints {
  .minw-#{$name} {
    min-width: var(--bp-#{$name});
  }

  .maxw-#{$name} {
    max-width: var(--bp-#{$name});
    width: 100%;
  }

  .w-#{$name} {
    width: var(--bp-#{$name});
  }
}

.w-full {
  width: 100%;
}
