/* https://til.jakelazaroff.com/css/swap-between-black-and-white-text-based-on-background-color/ */

.contrast {
  --bg-color: ;
  background-color: var(--bg-color);
  /* This swaps between white or black based on the background color. */
  /* After testing against all RGB background colors, 49.44 minimizes the number of WCAG 4.5:1 contrast failures. */
  color: lch(from var(--bg-color) calc((49.44 - l) * infinity) 0 0);
}
