/**
 * HOVER GROUP
 * add interactive elements on hover. partly hides non-hover elements and
 * enlarges hover element
 */
.hover-group {
  --opacity: 0.4;
}

.hover-group > * {
  transition: all 0.25s;
}

/** check if hover is available or not, is not available on mobile */
@media (hover: hover) {
  .hover-group:hover > *:not(:hover) {
    opacity: var(--opacity);
  }
}
