/**
 * HOVER GROUP
 * add interactive elements on hover. partly hides non-hover elements and
 * enlarges hover element
 */
.hover-group {
  --hover-opacity: 0.4;
  --hover-grow: 1.175;
}

.hover-group > * {
  transition: all 0.25s;
}

/** check if hover is available or not, is not available on mobile */
@media (hover: hover) {
  .hover-group:hover > *:not(:hover),
  .hover-group:hover > *:not(:hover)::before,
  .hover-group:hover > *:not(:hover)::after {
    opacity: var(--hover-opacity);
  }

  .hover-group > *:hover {
    transform: matrix(var(--hover-grow), 0, 0, var(--hover-grow), 0, 0);
  }
}
