/** Font-sizes */
.size-000 {
  font-size: var(--token-size-000);
}
.size-00 {
  font-size: var(--token-size-00);
}
.size-0 {
  font-size: var(--token-size-0);
}
.size-1 {
  font-size: var(--token-size-1);
}
.size-2 {
  font-size: var(--token-size-2);
}
.size-3 {
  font-size: var(--token-size-3);
}
.size-4 {
  font-size: var(--token-size-4);
}
.size-5 {
  font-size: var(--token-size-5);
}
/** Styles */
.bold {
  font-weight: 600;
}
.normal {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.fl::first-letter {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
/** Text align */
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-start {
  text-align: start;
}
/** ellipsis */
.read-more {
  --line-count: 2;

  display: -webkit-box;
  -webkit-line-clamp: var(--line-count);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.lh-reset {
  line-height: 1;
}
