/** Font-sizes */
.size-000 {
  font-size: var(--token-size-000);
}
.size-00 {
  font-size: var(--token-size-00);
}
.size-0 {
  font-size: var(--token-size-0);
}
.size-1 {
  font-size: var(--token-size-1);
}
.size-2 {
  font-size: var(--token-size-2);
}
.size-3 {
  font-size: var(--token-size-3);
}
.size-4 {
  font-size: var(--token-size-4);
}
.size-5 {
  font-size: var(--token-size-5);
}
/** Styles */
.bold {
  font-weight: 600;
}
.regular {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-start {
  text-align: start;
}
