/* Themes */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-0: var(--token-neutral-5);
    --text-1: var(--token-neutral-4);
    --text-2: var(--token-neutral-3);
    --surface-0: var(--token-neutral-0);
    --surface-1: var(--token-neutral-1);
    --surface-2: var(--token-neutral-2);
  }
}

a {
  transition: all 200ms;
}

a:visited {
}

a:hover {
  text-decoration-thickness: 2px;
  color: blueviolet;
  text-decoration-color: blueviolet;
}

/* Structure */
main {
  position: relative;
}
article {
  padding: var(--token-size-0);
  width: 100%;
  max-width: 68ch;
}
footer {
  padding: var(--token-size-0);
}

/* Main navigation */
nav {
  z-index: 100;
  background-color: var(--token-neutral-1);
  color: var(--token-neutral-4);
  padding: var(--token-size-0);
  outline: 1px solid var(--token-neutral-2);
}

nav a,
nav a:visited {
  text-decoration: none;
  color: var(--token-neutral-4);
}
nav a:hover {
  color: inherit;
  font-weight: bold;
}
nav a[data-selected="true"] {
  font-weight: bold;
  color: var(--token-neutral-5);
}
/* ensure text does not go on multiline in horizontal orientaiton */
nav li {
  white-space: nowrap;
}

/* small changes for responsiveness */
@media (max-width: 646px) {
  nav ul ul {
    display: none;
  }
  /* Overwrites scroll behavior and ensures growth in case main as little content */
  main {
    contain: none;
    min-height: calc(100vh - 165px - var(--token-size-2));
  }
}

/* Breadcrumbs */
.breadcrumbs {
  color: var(--text-2);
  text-transform: uppercase;
}

.breadcrumbs .divider {
  color: var(--surface-2);
}

.breadcrumbs li:last-child a {
  text-decoration: none;
}

h2 {
  margin-top: var(--token-size-2);
  font-size: var(--token-size-0);
}
