:root {
  --sans-serif: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

nav {
  top: 1rem;
}

nav li {
  white-space: nowrap;
}

@media (max-width: 637px) {
  nav {
    position: relative;
    display: none;
  }

  nav ul ul {
    display: none;
  }
}

h2 {
  margin-top: var(--token-size-0);
}
