:root {
  --sans-serif: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

nav {
  z-index: 100;
  background-color: var(--surface-0);
  padding-bottom: var(--token-size-0);
}

nav ul ul {
  font-size: var(--token-size-00);
}

nav li {
  white-space: nowrap;
}

article svg {
  width: 100%;
}

@media (max-width: 601px) {
  nav {
    border-bottom: 1px solid var(--surface-1);
  }

  nav ul ul {
    display: none;
  }
}

h2 {
  margin-top: var(--token-size-0);
}
