<ul role="list" class="breadcrumbs | flex --gap-000 size-00">
  <li><a href="/">home</a></li>
  {% if key !== "home" %}<li class="divider">/</li>{% endif %}
  {% if not parent and key !== "home" %}<li><a href="/{{key}}">{{key}}</a></li>{% endif %}
  {% if parent %}
    <li><a href="/{{parent}}">{{parent}}</a></li>
    <li class="divider">/</li>
    <li><a href="/{{parent}}/{{key}}">{{title}}</a></li>
  {% endif %}
</ul>
