<!-- FOOTER -->
<footer class="cluster --gap-000 justify-end | size-00 italic | mt-1">
  <span>Powered by: <a href="https://11ty.dev" class="italic">11ty</a> & Feo.css</span>
  <span>|</span>
  <a href="https://github.com/vyckes/feo-css">Github</a>
  <span>|</span>
  <span>Made by <a href="https://crinkles.dev">Crinkles</a>
</footer>