/* 
 * Accordion component
 */
details {
  --accordion-border: var(--color-foreground-1);
  --accordion-bg: var(--color-surface-1);

  border: 2px solid var(--accordion-border);
  border-radius: var(--token-size-000);
  font-size: var(--token-size-00);
}

/* Assumes only <summary> and one other div */
details > * {
  padding: 4px 12px;
}

summary {
  font-weight: bold;
  background-color: var(--accordion-bg);
  /* Offset needed to make the borders play nice with the details */
  border-radius: calc(var(--token-size-000) - 3px);
}

/* Changes in styling when opened */
details[open] summary {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 1px solid var(--accordion-border);
}

/**
 * Animation when opening the accordion
 */
@keyframes details-show {
  from {
    opacity: 0;
    transform: translateY(-0.5em);
  }
}
details[open] > *:not(summary) {
  animation: details-show 250ms ease-in-out;
}
