form {
  --form-radius: 8px;
  --form-border: var(--text-2);
  --form-focus: var(--text-0);
  --form-disabled-surface: var(--surface-1);
  --form-disabled-padding: var(--token-size-000);
  --form-disabled-border: var(--text-2);
}

label {
  display: flex;
  flex-direction: column;
  color: var(--text-2);
  font-size: var(--token-size-0);
  gap: 4px;
}

/**
 * Base styling for form elements
 */
input:not([type="checkbox"]),
select,
textarea {
  width: 100%;
  padding: 6px var(--token-size-000);
  background-color: var(--token-surface-0);
  font-size: var(--token-size-00);
  border: 1px solid var(--form-border);
  border-radius: var(--form-radius, 4px);
  transition: all 100ms;
  color: var(--text-0);
}

input:not(:disabled):not([type="checkbox"]):where(:hover, :focus),
select:not(:disabled):where(:hover, :focus),
textarea:not(:disabled):where(:hover, :focus) {
  border: 1px solid var(--form-focus);
  outline: 1px solid var(--form-focus);
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  background-color: var(--form-disabled-surface);
  border: 1px solid var(--form-disabled-border);
  padding-left: var(--form-disabled-padding);
}

/**
 * Adjustments for textarea 
 */
textarea {
  min-height: 8em;
}

/**
 * Select and datalist
 */
select,
input[list] {
  appearance: none;
  display: block;
  background-image: var(--arrow-icon);
  background-repeat: no-repeat, repeat;
  background-position: right var(--token-size-000) top 50%, 0 0;
  background-size: 0.8em auto, 100%;
}
