/**
 * A switch (because, who needs checkboxes?)
 */
label:has(input[type="checkbox"]) {
  flex-direction: row;
  align-items: center;
  gap: var(--token-size-00);
}

input[type="checkbox"] {
  --input-color: green;

  appearance: none;
  position: relative;
  display: inline-block;
  background: var(--color-surface-2);
  height: 1.2rem;
  width: 2.2rem;
  vertical-align: middle;
  border-radius: 1rem;
  box-shadow: 0px 1px 3px #0003 inset;
  transition: 0.25s linear background;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  box-shadow: 0px 1px 3px #0003;
  transition: 0.25s linear transform;
  transform: translateX(0rem);
}

input[type="checkbox"]:checked {
  background: var(--input-color);
}
input[type="checkbox"]:checked::before {
  transform: translateX(1rem);
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}
