div:has(> table) {
  overflow-x: auto;
}

table {
  width: 100%;
  overflow-x: auto;
  border: 1px solid var(--color-surface-1);
  background: var(--color-surface-1);
  border-radius: 11px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

th {
  background-color: var(--color-surface-1);
}

td {
  background-color: var(--color-surface-0);
}

td,
th {
  text-align: left;
  white-space: nowrap;
  padding: var(--token-size-0000);
}

table tr:hover td {
  background-color: var(--color-surface-1);
}
