/**
 * Make a table horizontal scroll, in case there is a wrapper div, 
 * without the need for a custom class. Does nothing in browsers not
 * supporting :has
 */
div:has(> table:only-child) {
  overflow-x: auto;
}

/**
 * Table component
 */
table {
  --table-radius: var(--token-size-0000);
  --table-color: var(--color-surface-1);

  /* Table fills always the available space */
  width: 100%;
  border: 1px solid var(--table-color);
  /* the entire table gets the background, and cells get the site BG */
  background: var(--table-color);
  border-radius: calc(var(--table-radius) * 1.3);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-radius);
}

table tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-radius);
}

table tr:first-child th:first-child {
  border-top-left-radius: var(--table-radius);
}

table tr:first-child th:last-child {
  border-top-right-radius: var(--table-radius);
}

td {
  background-color: var(--color-surface-0);
}

td,
th {
  text-align: left;
  padding: var(--token-size-0000);
}

table tr:hover td {
  background-color: var(--table-color);
}
