div:has(> table) {
  overflow-x: auto;
}

table {
  --table-radius: 6px;
  --table-color: var(--color-surface-1);

  width: 100%;
  overflow-x: auto;
  border: 1px solid var(--table-color);
  background: var(--table-color);
  border-radius: calc(var(--table-radius) * 1.3);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-radius);
}

table tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-radius);
}

table tr:first-child th:first-child {
  border-top-left-radius: var(--table-radius);
}

table tr:first-child th:last-child {
  border-top-right-radius: var(--table-radius);
}

th {
  background-color: var(--table-color);
}

td {
  background-color: var(--color-surface-0);
}

td,
th {
  text-align: left;
  padding: var(--token-size-0000);
}

table tr:hover td {
  background-color: var(--table-color);
}
