/**
 * A toggle (because, who needs checkboxes?)
 */
label:has(input[type="checkbox"]) {
  flex-direction: row;
  align-items: center;
  gap: var(--token-size-00);
}

input[type="checkbox"] {
  --toggle-dot-color: white;
  --toggle-checked-color: green;
  --toggle-size: var(--token-size-0);
  --toggle-space: 3px;

  appearance: none;
  position: relative;
  display: inline-block;
  background: var(--color-surface-2);
  height: calc(var(--toggle-size) + 2 * var(--toggle-space));
  width: calc(2 * var(--toggle-size) + 2 * var(--toggle-space));
  vertical-align: middle;
  border-radius: var(--toggle-size);
  box-shadow: 0px 1px 3px #0003 inset;
  transition: 0.25s linear background;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: var(--toggle-size);
  height: var(--toggle-size);
  background: var(--toggle-dot-color);
  border-radius: calc(var(--toggle-size) * 0.5);
  position: absolute;
  top: var(--toggle-space);
  left: var(--toggle-space);
  box-shadow: 0px 1px 3px #0003;
  transition: 0.25s linear transform;
  transform: translateX(0rem);
}

input[type="checkbox"]:checked {
  background: var(--toggle-checked-color);
}
input[type="checkbox"]:checked::before {
  transform: translateX(var(--toggle-size));
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}
