/* 
 * Accordion component
 */
details {
  --accordion-border: var(--surface-1);
  --accordion-radius: 8px;
  --accordion-surface: var(--surface-1);

  border: 3px solid var(--accordion-border);
  border-radius: var(--accordion-radius);
}

/* Assumes only <summary> and one other div */
details > * {
  padding: 2px 12px;
}

summary {
  font-weight: bold;
  background-color: var(--accordion-surface);
  /* Offset needed to make the borders play nice with the details */
  border-radius: calc(var(--accordion-radius) - 3px);
}

/* Changes in styling when opened */
details[open] summary {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 1px solid var(--accordion-border);
}

/**
 * Animation when opening the accordion
 */
@keyframes details-show {
  from {
    opacity: 0;
    transform: translateY(-0.5em);
  }
}
details[open] > *:not(summary) {
  animation: slide-down-1 250ms ease-in-out;
  padding: var(--token-size-00);
}
