[data-tooltip] {
  --tooltip-surface: var(--token-neutral-1);
  --tooltip-color: var(--token-neutral-5);
  --tooltip-decoration: underline dotted var(--text-2);
  --tooltip-top: initial;
  --tooltip-bottom: ;

  position: relative;
  text-decoration: var(--tooltip-decoration);
  -webkit-text-decoration: var(--tooltip-decoration);
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  width: max-content;
  max-width: 250px;
  /* Positioning */
  position: absolute;
  top: var(--tooltip-bottom, 115%);
  bottom: var(--tooltip-top, 120%);
  left: 50%;
  translate: -50% 0;
  z-index: 100;
  /* Animation */
  transition: all 200ms;
  scale: 0;
  /* Style */
  background-color: var(--tooltip-surface);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  color: var(--tooltip-color);
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  font-size: var(--token-size-00);
  line-height: 1.1;
}

[data-tooltip]:hover::before {
  scale: 1;
}

[data-tooltip]::after {
  content: "";
  position: absolute;
  z-index: 100;
  left: 50%;
  translate: -50% 0;
  rotate: var(--tooltip-bottom, 180deg);
  top: var(--tooltip-top, -200%);
  bottom: var(--tooltip-bottom, -200%);
  transition: all 200ms;
  opacity: 0;
  border-width: 7px;
  border-style: solid;
  border-color: var(--tooltip-surface) transparent transparent transparent;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: var(--tooltip-top, calc(-15% - 2px));
  bottom: var(--tooltip-bottom, -20%);
}

[data-tooltip-bottom] {
  --tooltip-top: ;
  --tooltip-bottom: initial;
}
