[data-tooltip] {
  --tooltip-pointer-color: var(--text-2);
  --tooltip-surface: var(--token-neutral-1);
  --tooltip-color: var(--token-neutral-5);
  --tooltip-slide-to: translate(-50%, -0.25rem);
  --tooltip-caret-slide-to: translate(-50%, 0rem);

  position: relative;
}

[data-tooltip]:not(a, button, input, [role="button"]) {
  border-bottom: 1px dotted var(--tooltip-pointer-color);
  text-decoration: none;
  cursor: help;
}

[data-tooltip]::before,
[data-tooltip]::after {
  display: block;
  z-index: 99;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  transform: translate(-50%, -0.25rem);
  border-radius: 4px;
  background: var(--tooltip-surface);
  content: attr(data-tooltip);
  color: var(--tooltip-color);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  max-width: var(--token-bp-00);
}

[data-tooltip]::after {
  padding: 0;
  transform: translate(-50%, 0rem);
  border-top: 0.3rem solid;
  border-right: 0.3rem solid transparent;
  border-left: 0.3rem solid transparent;
  border-radius: 0;
  background-color: transparent;
  content: "";
  color: var(--tooltip-surface);
}

[data-tooltip]:focus::before,
[data-tooltip]:hover::before,
[data-tooltip]:focus::after,
[data-tooltip]:hover::after {
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  [data-tooltip]:focus::before,
  [data-tooltip]:focus::after,
  [data-tooltip]:hover::before,
  [data-tooltip]:hover::after {
    transform: translate(-50%, 0.75rem);
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-name: tooltip-slide;
    opacity: 0;
  }
  [data-tooltip]:focus::after,
  [data-tooltip]:hover::after {
    transform: translate(-50%, -0.25rem);
    animation-name: tooltip-caret-slide;
  }

  @keyframes tooltip-slide {
    to {
      transform: var(--tooltip-slide-to);
      opacity: 1;
    }
  }
  @keyframes tooltip-caret-slide {
    50% {
      opacity: 0;
    }
    to {
      transform: var(--tooltip-caret-slide-to);
      opacity: 1;
    }
  }
}
