// List of colors that is used to generate utility classes, but also generate
// CSS custom properties
$colors: (
	'gray-100': #fafafa,
	'gray-200': #e5eaed,
	'gray-300': #c7d1dc,
	'gray-400': #77818c,
	'gray-500': #242f3a,
	'gray-600': #0e141e,
	'red': #fc0659,
	'blue': #5765fc
);

// $breakpoints: ();

$themes: (
	'light': (
		'accent': 'blue',
		'back': 'gray-200',
		'back-secondary': 'gray-100',
		'code': 'gray-500',
		'front': 'gray-600',
		'hover': 'gray-300'
	),
	'dark': (
		'accent': 'red',
		'back': 'gray-600',
		'back-secondary': 'gray-600',
		'code': 'gray-500',
		'front': 'gray-100',
		'hover': 'gray-500'
	)
);

@use '../../../feo.scss' with
	(
		$feo-colors: $colors,
		$feo-fluid: false,
		// $feo-breakpoints: $breakpoints,
		$feo-themes: $themes
	);
