// List of colors that is used to generate utility classes, but also generate
// CSS custom properties
$colors: (
	'gray-100': #fafafa,
	'gray-200': #e5eaed,
	'gray-300': #c7d1dc,
	'gray-400': #77818c,
	'gray-500': #242f3a,
	'gray-600': #0e141e,
	'red': #fc0659,
	'blue': #5765fc
);

@use '../../../bace.scss' with
	(
		$bace-colors: $colors,
		$bace-fluid: false,
	);
