// List of colors that is used to generate utility classes, but also generate
// CSS custom properties
$colors: (
	'gray-100': #fafafa,
	'gray-200': #e5eaed,
	'gray-300': #c7d1dc,
	'gray-400': #77818c,
	'gray-500': #242f3a,
	'gray-600': #0e141e,
	'green-100': #7dc4a8,
	'green-200': #0e6469
);

// Typography system (golden ratio)
$font-sizes: (
	'0': 1,
	'00': 0.8,
	'000': 0.64,
	'1': 1.25,
	'2': 1.563,
	'3': 1.953
);

$spacing: (
	'none': 0,
	'0': 1,
	'00': 0.75,
	'000': 0.5,
	'0000': 0.25,
	'1': 1.25,
	'2': 2,
	'3': 3
);

$sizes: (
	'00': 15rem,
	'0': 20rem,
	'1': 25rem,
	'2': 40rem,
	'3': 48.5rem,
	'4': 65rem
);

$font-families: (
	monospace: "Inconsolata, Menlo, Monaco, Consolas, 'Courier New', monospace",
	serif: 'Georgia, serif',
	sans-serif:
		"system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif"
);

$themes: (
	'light': (
		'accent': 'green-200',
		'back': 'gray-200',
		'back-secondary': 'gray-100',
		'code': 'gray-500',
		'front': 'gray-600',
		'hover': 'gray-300'
	),
	'dark': (
		'accent': 'green-100',
		'back': 'gray-600',
		'back-secondary': 'gray-600',
		'code': 'gray-500',
		'front': 'gray-100',
		'hover': 'gray-500'
	)
);

@use '../../node_modules/@crinkles/feo/feo.scss' with
	(
		$feo-fluid: false,
		$feo-colors: $colors,
		$feo-font-sizes: $font-sizes,
		$feo-spacing: $spacing,
		$feo-sizes: $sizes,
		$feo-font-families: $font-families,
		$feo-themes: $themes
	);
