/*******
* Generic styling
*******/
html,
body {
	color: var(--color-gray-600);
	background-color: var(--color-back);
}

// LINKS
a,
a > *,
a:link,
a:visited,
a:active {
	text-decoration-color: var(--color-accent);
}

a:hover {
	color: var(--color-accent);
}

blockquote > p {
	padding: var(--size-0);
	margin-top: var(--size-0);
	position: relative;
	border-left: 5px solid var(--color-accent);
	outline: 1px solid var(--color-accent);

	&::before {
		content: 'Note';
		position: absolute;
		top: -10px;
		background-color: var(--color-back-secondary);
		padding-left: var(--size-000);
		padding-right: var(--size-000);
		color: var(--color-accent);
		font-size: var(--size-00);
		font-family: var(--monospace);
		text-transform: uppercase;
	}
}

input {
	width: 100%;
	line-height: var(--lb-00);
	background-color: var(--color-back-secondary);
	border: 1px solid var(--color-hover);
	border-radius: var(--size-000);
	padding: var(--size-000) var(--size-00);
	color: var(--color-front);
}

input:active,
input:focus {
	border: 1px solid var(--color-accent);
	outline: none;
}

article h2 + p {
	margin-top: var(--size-00) !important;
}

article img {
	max-width: min(100%, var(--center-width));
	padding-left: 0 !important;
	padding-right: 0 !important;
}

article > :not(pre) {
	padding-left: var(--size-1);
	padding-right: var(--size-1);
}

article li {
	margin-left: var(--size-2);
}
