// reset, settings & generic styles
$themes: (
	'light': (
		'accent': 'info-1',
		'back': 'gray-1',
		'back-secondary': 'gray-0',
		'code': 'gray-4',
		'front': 'gray-5',
		'hover': 'gray-2'
	),
	'dark': (
		'accent': 'bace-1',
		'back': 'gray-5',
		'back-secondary': 'gray-5',
		'code': 'gray-4',
		'front': 'gray-0',
		'hover': 'gray-4'
	)
);

@use '../../../bace.scss' with (
	$bace-themes: $themes
);

@use 'global';
@use 'code';
@use 'utils';

:root {
	// box-shadow
	--elevation-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--elevation-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--elevation-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
