// List of colors that is used to generate utility classes, but also generate
// CSS custom properties
$feo-colors: () !default;

// Typography system (golden ratio)
$feo-font-sizes: () !default;

// Spacing system: padding, margin, gap
$feo-spacing: () !default;

// Size system
$feo-sizes: () !default;

// Default themes array
$light-theme: (
  'front': 'gray-500',
  'back': 'gray-100',
  'back-secondary': 'gray-200',
  'transition': 'gray-400',
);

$dark-theme: (
  'front': 'gray-100',
  'back': 'gray-500',
  'back-secondary': 'gray-400',
  'transition': 'gray-300',
);

$feo-themes: (
  'dark': $dark-theme,
  'light': $light-theme,
);
