@use "sass:map";

// Allow fluid sizes
$bace-fluid: false !default;

// List of colors that is used to generate utility classes, but also generate
// CSS custom properties
$bace-colors: () !default;

// Sizing for font-sizes, padding, margin and gap
// Based on type-scale.com: scale 1.333
$bace-sizes: (
  '0': 0,
  '1': 0.56,
  '2': 0.75,
  '3': 1,
  '4': 1.33,
  '5': 1.78,
  '6': 2.37,
  '7': 3.16,
  '8': 4.21,
) !default;

// Sizing for line-height, default same as sizes, but can be set separately
// Based on type-scale.com: scale 1.333
$bace-lh: $bace-sizes !default;

// Breakpoint system. Default uses 20rem times $bace-sizes
$bace-breakpoints: () !default;
// Fill when no breakpoints are set
@if (length($bace-breakpoints) == 0) {
  @each $name, $size in $bace-sizes {
    $bace-breakpoints: map.set($bace-breakpoints, $name, $size * 20rem);
  }
}

// basic setup for themes
$bace-themes: () !default;

// internal array used for generating all utilit#282a3ay functions
$_colors: $bace-colors;

@if (length($bace-themes) > 0) {
  $theme: nth(nth($bace-themes, 1), 2);
  @each $name, $color in $theme {
    $_colors: map.set($_colors, $name, var(--color-#{$color}));
  }
}

// Font families
$bace-font-families: (
  monospace: "Inconsolata, Menlo, Monaco, Consolas, 'Courier New', monospace",
  serif: 'ui-serif, Georgia, Cambria, serif',
  sans-serif:
    "system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif",
) !default;
