// Allow fluid sizes
$feo-fluid: false !default;

// List of colors that is used to generate utility classes, but also generate
// CSS custom properties
$feo-colors: () !default;

// Typography system (golden ratio)
@function size($size) {
  @if $feo-fluid {
    $reducer: if(0.8 * $size < 1, 1, 0.8);
    $min: $reducer * $size;
    @return clamp(#{$min}rem, #{$size} * 2vw, #{$size} * 1.2rem);
  } @else {
    @return #{$size}rem;
  }
}

// Sizing for font-sizes, padding, margin and gap
// Based on type-scale.com: scale 1.333
$feo-sizes: (
  '000': size(0.563),
  '00': size(0.75),
  '0': size(1),
  '1': size(1.333),
  '2': size(1.777),
  '3': size(2.369),
) !default;

// Breakpoint system.
// Based on type-scale.com: scale 1.333
$feo-breakpoints: (
  '00': 15rem,
  '0': 20rem,
  '1': 26.66rem,
  '2': 35.54rem,
  '3': 47.37rem,
  '4': 63.15rem,
  '5': 84.17rem,
) !default;

// Font families
$feo-font-families: (
  monospace: "Inconsolata, Menlo, Monaco, Consolas, 'Courier New', monospace",
  serif: 'Georgia, serif',
  sans-serif:
    "system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif",
) !default;
// themes
$feo-themes: () !default;
