@layer global, layout, utilities, blocks;

/** global */
@import "global/reset.css" layer(global);
@import "global/tokens.css" layer(global);
@import "global/global.css" layer(global);

@layer global {
  :nth-child(1) {
    --index: 1;
  }
  :nth-child(2) {
    --index: 2;
  }
  :nth-child(3) {
    --index: 3;
  }
  :nth-child(4) {
    --index: 4;
  }
  :nth-child(5) {
    --index: 5;
  }
  :nth-child(6) {
    --index: 6;
  }
  :nth-child(7) {
    --index: 7;
  }
  :nth-child(8) {
    --index: 8;
  }
  :nth-child(9) {
    --index: 9;
  }
  :nth-child(10) {
    --index: 10;
  }
}

/** layout */
@import "layout/center.css" layer(layout);
@import "layout/cluster.css" layer(layout);
@import "layout/flexbox.css" layer(layout);
@import "layout/grid.css" layer(layout);
@import "layout/pancake.css" layer(layout);
@import "layout/repel.css" layer(layout);
@import "layout/sidebar.css" layer(layout);
@import "layout/stack.css" layer(layout);
@import "layout/switcher.css" layer(layout);
@import "layout/tiles.css" layer(layout);
@import "layout/utilities.css" layer(layout);

/** utilities */
@import "utilities/animations.css" layer(utilities);
@import "utilities/click-area.css" layer(utilities);
@import "utilities/hover-group.css" layer(utilities);
@import "utilities/margin.css" layer(utilities);
@import "utilities/typography.css" layer(utilities);
@import "utilities/visually-hidden.css" layer(utilities);
@import "utilities/width.css" layer(utilities);

/** blocks */
@import "blocks/accordion.css" layer(blocks);
@import "blocks/form.css" layer(blocks);
@import "blocks/toggle.css" layer(blocks);
@import "blocks/table.css" layer(blocks);
@import "blocks/tooltip.css" layer(blocks);
