// standard centering
.center > * {
  --center-gutter: 0px;
  --center-width: 0;

  width: min(100% - 2 * var(--center-gutter), var(--center-width));
  margin-inline: auto; 
}

// Class that can be set on a child that needs to be full width and not centered
.center-exception {
  --center-width: 100%;
}

// Generate classes to set the padding of the .center
@each $name, $space in $feo-sizes {
  .center-g-#{$name} > * {
    --center-gutter: var(--size-#{$name});
  }
}

// Generate classes to set the width of the .center
@each $name, $size in $feo-breakpoints {
  .center-w-#{$name} > * {
    --center-width: var(--bp-#{$name});
  }
}
