.dialog {
  position: fixed;
  inset: 0;
  z-index: 999;
}

.dialog > *:first-child {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  min-inline-size: var(--dialog-width, 0px);
  max-inline-size: calc(100% - var(--dialog-gutter, 0px));
  max-block-size: calc(100% - var(--dialog-gutter, 0px));
  overflow: auto;
}

// Generate classes to set the padding of the .dialog
@each $name, $space in $feo-sizes {
  .dialog-g-#{$name} > * {
    --dialog-gutter: var(--size-#{$name});
  }
}

// Generate classes to set the width of the .dialog
@each $name, $size in $feo-breakpoints {
  .dialog-w-#{$name} > * {
    --dialog-width: var(--bp-#{$name});
  }
}
