.flow {
  --flow-gap: 0;

  display: flex;
  flex-direction: column;
}

.flow > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.flow > * + * {
  margin-top: var(--flow-gap);
}

.flow-grow {
  --flow-gap: auto;
}

// Remove gap where possible
.flow-g-none {
  --flow-gap: 0;
}

.flow-self-none {
  --flow-gap: 0;
}

.flow-next-none + * {
  --flow-gap: 0;
}

@each $name, $space in $feo-sizes {
  // Generate gap classes to be combined with 'flow'
  .flow-g-#{$name} {
    --flow-gap: var(--size-#{$name});
  }

  // Can be set on children from the flow stack
  .flow-self-#{$name} {
    --flow-gap: var(--size-#{$name});
  }

  .flow-next-#{$name} + * {
    --flow-gap: var(--size-#{$name});
  }
}
