.flow-y > *,
.flow-x > * {
  --flow-gap: 0;
}

.flow-x {
  display: flex;
  flex-direction: row;
}

.flow-y {
  display: flex;
  flex-direction: column;
}

.flow-y > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.flow-y > * + * {
  margin-top: var(--flow-gap);
}

.flow-x > * {
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.flow-x > * + * {
  margin-left: var(--flow-gap);
}

.flow-x > .flow-grow {
  margin-left: auto;
}

.flow-y > .flow-grow {
  margin-top: auto;
}

@each $name, $space in $feo-sizes {
  // Generate gap classes to be combined with 'flow'
  .flow-g-#{$name} > * {
    --flow-gap: var(--size-#{$name});
  }

  // Can be set on children from the flow stack
  .flow-self-#{$name} {
    --flow-gap: var(--size-#{$name});
  }

  .flow-next-#{$name} + * {
    --flow-gap: var(--size-#{$name});
  }
}
