// The holy grail layout of a fixed header & footer, and a content body that is
// scrollable
// <div class="grail">
//   <header>header</header>
//   <aside>sidebar</aside>
//   <main>scrollable content</main>
//   <aside>sidebar</aside>
//   <footer>footer</footer>
// </div>

.grail {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.grail > header {
  grid-row: 1;
  grid-column: 1 / -1;
}

.grail > main {
  grid-row: 2;
  grid-column: 2;
  overflow-y: auto;
}

.grail > main + *:not(footer) {
  grid-row: 2;
  grid-column: 3;
}

.grail > footer {
  grid-row: 3;
  grid-column: 1 / -1;
}
