.masonry { 
  columns: var(--masonry-columns, 0) var(--masonry-width, 0);
  column-gap: var(--mansonry-gap, 0);
}

.masonry > * {
  break-inside: avoid;
  margin-bottom: var(--masonry-gap, 0);
}

// Generate classes to set the padding of the .center
@each $name, $space in $feo-sizes {
  .masonry-g-#{$name} > * {
    --masonry-gap: var(--size-#{$name});
  }
}

// Generate classes to set the min-width of a column
@each $name, $size in $feo-breakpoints {
  .masonry-w-#{$name} {
    --masonry-width: var(--bp-#{$name});
  }
}

// Column count
@for $i from 1 through 5 {
  .masonry-c-#{$i} {
    --masonry-columns: #{$i};
  }
}