// Responsive 2-column layout with a default 50-50 split.
// Allows you to set one of the two columns to a controllable size (-left, -right)
// allows you to set the width, of the controllable column, min-width of both columns
// and horizontal/vertical gap.
.panel-l,
.panel-r {
  --panel-fixed: 50%;
  --panel-min-width: 0;
  --panel-gap: 0;

  display: flex;
  flex-wrap: wrap;
  gap: var(--panel-gap);
  width: 100%;

  & > * {
    flex-basis: var(--panel-fixed);
    flex-grow: 1;
    min-width: min(100%, var(--panel-fixed));
  }
}

.panel-l > :last-child,
.panel-r > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: min(100%, calc(var(--panel-width) - var(--panel-fixed)));
}

// Generate classes to set the gap of .panel-lr
@each $name, $space in $bace-sizes {
  .panel-g-#{$name} {
    --panel-gap: var(--size-#{$name});
  }
}

// Generate classes to set the min-width of each half of .panel-lr
@each $name, $size in $bace-breakpoints {
  .panel-f-#{$name} {
    --panel-fixed: var(--break-#{$name});
  }

  .panel-w-#{$name} {
    --panel-width: var(--break-#{$name});
  }
}
