// Responsive 2-column layout with a default 50-50 split.
// Allows you to set one of the two columns to a controllable size (-left, -right)
// and horizontal/vertical gap.
// NOTE: can be combined with the .gap- class.
.sidebar-l,
.sidebar-r {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-basis: var(--sidebar-width, 0);
    flex-grow: 1;
    min-width: min(100%, var(--sidebar-width, 50%));
  }
}

.sidebar-l > :last-child,
.sidebar-r > :first-child {
  flex-basis: 0;
  flex-grow: 999;

  /* wraps when both sides are equal */
  min-inline-size: var(--sidebar-content, 50%);
}

// Generate classes to set the min-width of each half of .sidebar-lr
@each $name, $size in $feo-breakpoints {
  .sidebar-w-#{$name} {
    --sidebar-width: var(--bp-#{$name});
  }
}

// generates classes to set the main content area.
@for $i from 1 through 9 {
  .sidebar-c-#{$i * 10} {
    --sidebar-content: #{$i * 10}%;
  }
}
