// Responsive 2-column layout with a default 50-50 split.
// Allows you to set one of the two columns to a controllable size (-left, -right)
// allows you to set the width, of the controllable column, min-width of both columns
// and horizontal/vertical gap.

.split {
  --split-width: 50%;
  --split-min-width: 0;
  --split-gap: 0;

  display: flex;
  flex-wrap: wrap;
  gap: var(--split-gap);
  width: 100%;
}

.split > * {
  flex-basis: var(--split-width);
  flex-grow: 1;
  min-width: min(100%, var(--split-min-width));
  margin: calc(var(--s1) / 2);
}

.split-left,
.split-right {
  @extend .split;
}

.split-left > :last-child,
.split-right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
}

// Generate classes to set the gap of .splitter
@each $name, $space in $feo-spacing {
  .split-g-#{$name} {
    --split-gap: var(--spacing-#{$name});
  }
}

// Generate classes to set the min-width of each half of .splitter
@each $name, $size in $feo-sizes {
  .split-w-#{$name} {
    --split-width: var(--size-#{$name});
  }
}

// Generate classes to set the min-width of each half of .splitter
@each $name, $size in $feo-sizes {
  .split-min-w-#{$name} {
    --split-min-width: var(--size-#{$name});
  }
}
