.stack {
  --stack-gap: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// ensure it is non-recursive, by using > selector
.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--stack-gap);
}

// allows you to break the stack and fill the avaiable space above the applied
// element
.stack-grow {
  --stack-gap: auto;
}

@each $name, $space in $feo-sizes {
  // Generate gap classes to be combined with 'stack'
  // can be applied to child elements to impact the space between the applied
  // element and the preceding element.
  .stack-g-#{$name} {
    --stack-gap: var(--size-#{$name});
  }
}
