// NOTE: Can be combined with flex based utilities (e.g. .gap-00)
// Layout pattern that allows all to move from horizontal to vertical at a
// specific breakpoint
.switcher {
  display: flex;
  flex-wrap: wrap;
}

.switcher > * {
  min-width: clamp(0px, (var(--switcher-width, 0) - 100%) * 999, 100%)
}

// Generate classes to set the switcher min-sizes
@each $name, $size in $feo-breakpoints {
  .switcher-w-#{$name} {
    --switcher-width: var(--bp-#{$name});
  }
}