// NOTE: Can be combined with flex based utilities (e.g. .gap-00)
// Layout pattern that allows all to move from horizontal to vertical at a
// specific breakpoint
.switcher {
  display: flex;
  flex-wrap: wrap;
}

.switcher > * {
  flex-basis: calc((var(--switcher-width, 0) * var(--switcher-amount, 1) - 100%) * 999);
  flex-grow: 1;
}

// Generate classes to set the switcher min-sizes
@each $name, $size in $feo-breakpoints {
  .switcher-w-#{$name} {
    --switcher-width: var(--bp-#{$name});
  }
}

// Generate classes to alter the amount
@for $i from 1 through 12 {
  .switcher-a-#{$i} {
    --switcher-amount: #{$i};
  }
}