// <table>
// 	<thead>
// 		<tr>
// 			<th /> (ONLY WHEN .table-fixed-column)
// 			<th>Col Header</th>
// 			<th>Col Header</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr>
// 			<th>Row Header</th> (ONLY WHEN .table-fixed-column)
// 			<td>Cell Data</td>
// 			<td>Cell Data</td>
// 		</tr>
// 	</tbody>
// </table>

.table-responsive {
  border-collapse: collapse;

  th,
  td {
    background-clip: padding-box;
    scroll-snap-align: start;
  }

  thead {
    position: relative;
    z-index: 1000;
  }

  thead th {
    position: sticky;
    top: 0;
    background-clip: padding-box;
  }

  tbody {
    position: relative;
    z-index: 10;
  }

  tbody th {
    position: sticky;
    left: 0;
    background-clip: padding-box;
  }
}

.table-fixed-column {
  thead:first-child {
    left: 0;
    z-index: 1001;
  }
}
