/**
 * horizontal center of layout elements
 *
 * --layout-width: sets the width of the element that is centered
 *
 * NOTE: exceptions in child elements can be made width:
 * [class~="center"] > * {
 *   margin-left: 50%;
 *   transform: translateX(-50%);
 *   width: 100vw;
 *   max-width: X;
 * }
 */
.center {
  --layout-width: 100%;

  margin-inline: auto;
  width: 100%;
  /* required to ensure certain elements that should be side-scrollable don't push out the layout at 100% */
  max-width: var(--layout-width);
}
