/**
 * Groups items in such a way that a 'cluster' is created that automatically
determines how many items can be on a single row (e.g. tag cloud)
 *
 * --layout-gap: set the gap between the child elements (horizontal & vertical)
 */
.cluster {
  --layout-gap: 0;
  --layout-items: center;
  --layout-justify: flex-start;

  display: flex;
  flex-wrap: wrap;
  align-items: var(--layout-items);
  justify-content: var(--layout-justify);
  gap: var(--layout-gap);
}
