/**
 * Makes a wrapper fill the available space
 * Makes all children equal size in the available space
 */

.equal {
  --layout-gap: 0;
  --layout-items: stretch;
  --layout-justify: flex-start;

  --layout-direction: row;

  display: flex;
  flex-direction: var(--layout-direction);
  flex-wrap: nowrap;
  align-items: var(--layout-items);
  justify-content: var(--layout-justify);
  gap: var(--layout-gap);
  width: 100%;
}

.equal > * {
  flex: 1 1 0px;
}
