/**
 * Makes a fifty-fifty layout in case there are two elements. 
 * 
 * --layout-gap: set the gap between the child elements (horizontal & vertical)
 * --layout-threshold: set the min-width of child elements
 */
.fifty {
  --layout-threshold: 0;
  --layout-gap: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--layout-gap);
}

.fifty > * {
  flex-grow: 1;
  flex-basis: var(--layout-threshold);
}
