/**
 * Default flexbox utility classes to control layout
 *
 * --layout-gap: set the gap between the child elements (horizontal & vertical)
 */
.flex {
  --layout-gap: 0;
  --layout-direction: row;

  display: flex;
  flex-direction: var(--layout-direction);
  gap: var(--layout-gap);
}
