/**
 * Default flexbox utility classes to control layout
 *
 * --layout-gap: set the gap between the child elements (horizontal & vertical)
 * --layout-direction: sets flex-direction
 * --layout-items: sets align-items
 */
.flex {
  --layout-gap: 0;
  --layout-direction: row;
  --layout-items: stretch;
  --layout-justify: flex-start;

  display: flex;
  flex-direction: var(--layout-direction);
  align-items: var(--layout-items);
  justify-content: var(--layout-justify);
  gap: var(--layout-gap);
}

/**
 * Utility functions for flex containers
 */
.grow {
  flex-grow: 1;
}
.no-shrink {
  flex-shrink: 0;
}
.wrap {
  flex-wrap: wrap;
}

.self-start {
  align-self: self-start;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-end {
  align-self: self-end;
}
