/**
 * A stack of position items on top of eachother (depth)
 */
.pile {
  display: grid;
  grid: [pile] minmax(0, 1fr) / [pile] minmax(0, 1fr);
  place-items: center;
}

.pile > * {
  grid-area: pile;
}
