/**
 * A responsive 2-column layout with one fixed width column, and one flexible
 * column. It switches from vertical to horizontal when the flexible column
 * becomes less than --content of the total (i.e. a bit more than
 * )
 *
 * --layout-gap: set the gap between the child elements (horizontal & vertical)
 * --layout-threshold: sets the absolute value of the fixed-width column
 * --layout-inline-size: the minimum size of the responsive column
 *
 * NOTE: use the --left and --right classes to set which column is the fixed bar
 */
.sidebar {
  --layout-gap: 0;
  --layout-threshold: 0;
  --layout-inline-size: 60%;

  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-gap);
  align-items: stretch;
}

.sidebar > * {
  flex-basis: var(--layout-threshold);
  flex-grow: 1;
  min-width: min(100%, var(--layout-threshold));
}

.sidebar.--left > :last-child,
.sidebar.--right > :first-child {
  flex-basis: 0;
  flex-grow: 999;

  /* wraps when content becomes less than X */
  /* similar to min-width in horizontal reading direction */
  min-inline-size: var(--layout-inline-size);
}
