/**
 * A stack of position items on top of eachother (depth)
 * 
 * --layout-ratio: can be used to set a ratio, but empty by default
 */
.stack {
  display: grid;
  grid-template-areas: "stack";
  aspect-ratio: var(--layout-ratio);
}

.stack > * {
  grid-area: stack;
}
