/**
 * A layout of X columns that switches from horizontal to vertical the moment
 * the width of parent becomes less than a set value. 
 *
 * --layout-gap: set the gap between the child elements (horizontal & vertical)
 * --layout-width: the min-width of a single child elements
 *
 * NOTE: if you want the columns to have the same size, apply "switcher justify-stretch" as
 * as the classes
 */

.switcher {
  --layout-gap: 0;
  --layout-width: 0;

  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-gap);
}

.switcher > * {
  flex-basis: calc((var(--layout-width) - 100%) * 999);
}
