/**
 * A layout of X columns that switches from horizontal to vertical the moment
 * the width of a child element becomes less than a set value. Assumes that
 * columns are of the same size.
 * child element
 *
 * --layout-gap: set the gap between the child elements (horizontal & vertical)
 * --layout-width: the min-width of a single child elements
 * --layout-amount: the amount of child elements on a single row
 *
 * NOTE: the :has selector is not supported in FireFox (). This means that
 * --layout-amount is not automatically set by the class, and needs to be set
 * manually
 */

.switcher {
  --layout-gap: 0;
  --layout-width: 0;

  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-gap);
}

.switcher > * {
  flex-basis: calc((var(--layout-width) - 100%) * 999);
}

.switcher.--grow > * {
  flex-grow: 1;
}
